CONTAINER_RUNTIME=podman
CONTAINER_NAME=ollama-ppc64le
OLLAMA_IMAGE=icr.io/ppc64le-oss/ollama-ppc64le:v0.17.6
OLLAMA_HOST_BIND=127.0.0.1
OLLAMA_PORT=11434
STREAMLIT_PORT=8501
OLLAMA_MODELS_DIR=./models
OLLAMA_KEEP_ALIVE=10m
OLLAMA_ORIGINS=
HTTPS_PROXY=
NO_PROXY=127.0.0.1,localhost
